html, body { height: 100% }

body
{
  background: url(http://wallpoper.com/images/00/30/34/11/gaussian-blur_00303411.jpg);
  background-size: 100% 100%;
}

.widget
{
  position: relative;
  width: 500px;
  height: 550px;
  top: 10%;
  margin: 50px auto;
  background: white;
  border-radius: 5px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, .1);
}

.widget > .cover
{
  height: 160px;
  overflow: hidden;
}

.widget > .cover > img
{
  width: 100%;
  height: auto;
  min-height: 160px;
  border-radius: 4px 4px 0 0;
}

.widget > .profilePic
{
  position: absolute;
  top: 85px;
  left: 50%;
  width: 100px;
  height: 100px;
  margin: 0 0 0 -55px;
  border: 5px solid #FFF;
  border-radius: 50%;
}

.widget > h1, .widget > h2, .widget > h3
{
  display: block;
  margin: 10px 0;
  text-align: center;
  font-family: 'Amatica SC', cursive;
  font-size: 2em;
  font-weight: 300;
  color: #3D3D3D;
}

.widget > h1
{
  margin: 20px 0 20px;
  font-size: 4em;
  color: orangered;
  font-weight: bold;
}

.widget > h3 { font-size: 1.5em }

.widget > ul
{
  position: absolute;
  top: 20px;
  left: 100%;
  background: #2CDFD3;
  border-radius: 0 3px 3px 0;
}

.widget > ul > li > a
{
  display: block;
  padding: 5px 6px;
  color: #FFF;
  cursor: pointer;
  text-align: center;
  border-bottom: 1px solid #2CD5CA;
  transition: background-color .3s;
}

.widget > ul > li:hover > a { background-color: #2CD5CA }
.widget > ul > li:first-child > a { border-radius: 0 3px 0 0 }

.widget > ul > li:last-child > a
{
  border: none;
  border-radius: 0 0 3px 0;
}
.linkContainer {
  text-align: center;
}
.link {
  display: inline-block;
  margin: 50px 10px;
}
i {
  color: #2a2a2a;
}

i:hover {
  color: orangered;
}
